/**** VARIABLES ****/
/* Variable Colors */
/**** MIXINS ****/
/**** HEADINGS ****/
#site-title {
  display: inline-block;
  text-align: center;
  font-family: 'Satisfy';
  font-size: 70px;
  font-weight: 100;
  margin: 20px auto;
  padding: 0 10px;
  color: #1e96dc;
  border-bottom: solid 1px #1e96dc; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #site-title {
    color: transparent;
    background: linear-gradient(#14c8b4, #1e96dc);
    -webkit-background-clip: text; } }
#site-subtitle {
  text-align: center;
  text-transform: lowercase;
  margin: 0 0 20px 0;
  font-weight: 100;
  font-size: 20px; }

/**** SCALE BUTTON ***/
#scale-box {
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 70px;
  cursor: pointer; }

#scale-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  font-size: 30px;
  padding: 20px;
  color: rgba(220, 80, 20, 0.6); }
  #scale-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#scale-text-1, #scale-text-2 {
  position: absolute;
  top: 0;
  right: 70px;
  line-height: 70px;
  text-transform: lowercase;
  font-family: "Comfortaa";
  font-size: 14px;
  color: rgba(220, 80, 20, 0.6); }

#scale-text-2 {
  display: none; }

/**** BODY ****/
body {
  margin: 0;
  position: relative;
  text-align: center;
  font-family: "Neuton", sans-serif;
  overflow-x: hidden; }

.bg-fill {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: linear-gradient(to bottom, rgba(20, 200, 180, 0.2) 0%, white 100%); }

.content-section {
  display: flex;
  flex-wrap: wrap; }

/**** NODES ****/
.taxon-info {
  z-index: 20;
  position: relative;
  opacity: 0.0;
  border-top: dotted 1px #1e96dc;
  border-bottom: dotted 1px #1e96dc;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
  padding: 10px;
  margin: 5px auto;
  max-width: 500px;
  text-align: left;
  transform: translateY(20px);
  transition: .3s all; }
  .taxon-info p {
    margin: 0; }

.taxon-info:before {
  content: "";
  position: absolute;
  left: calc(50% - 25px);
  top: -65px;
  width: 50px;
  height: 20px;
  box-sizing: border-box;
  border-bottom: solid 20px #14c8b4;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent; }

.taxon-container {
  flex: 1;
  position: relative;
  text-align: center;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  min-width: 250px; }
  .taxon-container i {
    pointer-events: none;
    opacity: 0.0;
    z-index: 15;
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    text-align: center;
    color: rgba(220, 80, 20, 0.6);
    transition: .3s all; }
  .taxon-container .audio-active {
    opacity: 1.0;
    animation: pulse 2s infinite; }
  .taxon-container .frame-box {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: solid 4px transparent;
    box-sizing: border-box; }
    .taxon-container .frame-box .double {
      position: absolute;
      top: 45%;
      left: 0;
      transform: rotateZ(30deg) translateY(-50%);
      transform-origin: 15% 15%;
      animation-timing-function: ease-in-out;
      opacity: 0.0;
      transition: .5s all; }
  .taxon-container .frame-box.shown .double {
    opacity: 0.8;
    transition: .3s all; }
  .taxon-container .taxon-frame {
    z-index: 10;
    display: inline-block;
    text-align: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    border: solid 4px #1e96dc;
    border-radius: 50% 50%;
    transition: 1s all; }
    .taxon-container .taxon-frame img {
      position: absolute;
      top: 45%;
      left: 0;
      transform: rotateZ(30deg) translateY(-50%);
      transform-origin: 15% 15%;
      opacity: 0.8;
      transition: .3s all linear; }
    .taxon-container .taxon-frame .extra-frame {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: solid 1px #14c8b4;
      border-radius: 50% 50%;
      opacity: 0.0;
      transition: .3s all; }
  .taxon-container .taxon-frame.faded {
    transition: 1s all;
    border: solid 4px rgba(30, 150, 220, 0.1); }
  .taxon-container h1 {
    font-family: 'Comfortaa';
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 15px;
    font-size: 13px;
    color: #1e96dc; }

.taxon-container.large .frame-box {
  width: 250px;
  height: 250px; }
.taxon-container.large .taxon-frame {
  width: 250px;
  height: 250px; }

.taxon-container.small .frame-box {
  width: 150px;
  height: 150px; }
.taxon-container.small .taxon-frame {
  width: 150px;
  height: 150px; }

.taxon-container.hover .extra-frame {
  opacity: 1.0;
  transform: scale(0.9, 0.9);
  transition: .3s all; }
.taxon-container.hover .taxon-frame img {
  opacity: 0.2;
  transition: .8s all linear; }
.taxon-container.hover i {
  opacity: 1.0;
  transition: .3s all; }
.taxon-container.hover .frame-box img {
  opacity: 0.8;
  transition: .5s all linear; }
.taxon-container.hover .taxon-info {
  opacity: 1.0;
  transform: translateY(0);
  transition: .3s all; }
.taxon-container.hover h1 {
  color: #14c8b4; }

footer {
  position: relative;
  z-index: 30;
  padding: 40px; }
  footer p {
    font-size: 12px; }

.sources ul {
  list-style: none;
  padding: 0; }
  .sources ul a {
    text-decoration: none;
    color: rgba(220, 80, 20, 0.6); }
  .sources ul a::before {
    content: "- "; }
  .sources ul a::after {
    content: " -"; }

/**** ACCENTS ****/
.bubbles-container {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%; }

.bubble {
  z-index: -1;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(30, 150, 220, 0.2);
  background: linear-gradient(to top left, rgba(30, 150, 220, 0.3) 0%, transparent 100%);
  border-radius: 100% 100%;
  border: solid 1px rgba(255, 255, 255, 0.8); }

.bg-paths {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%; }
  .bg-paths svg {
    width: 100%;
    height: 100%; }

.link-path {
  stroke: rgba(30, 150, 220, 0.3);
  stroke-width: 4;
  fill: transparent; }

/**** ANIMATIONS ****/
@keyframes pulse {
  0% {
    color: rgba(220, 80, 20, 0.6); }
  50% {
    color: #dc5014; }
  100% {
    color: rgba(220, 80, 20, 0.6); } }
@media (max-width: 1080px) {
  .bg-paths {
    display: none; } }

/*# sourceMappingURL=style.css.map */
